{
  "extends": "airbnb",
  "rules": {
    "no-unused-expressions": 0,
    "space-infix-ops": 0,
    "default-case": 0,
    "no-else-return": 0,
    "brace-style": [
      2,
      "1tbs"
    ],
    "quote-props": [
      2,
      "consistent-as-needed"
    ],
    "new-cap": 0,
    "comma-dangle": "off",
    "no-param-reassign": [
      2,
      {
        "props": false
      }
    ]
  },
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  }
}